body{
    margin: 0px;
}
.header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(209, 242, 255);
    box-shadow: 0px 0px 10px 0px rgb(202, 200, 200);
    transition: all 15s alternate infinite;
    /* padding: 0px; */
}

@keyframes head-color {
    clea
    0%{
        background: linear-gradient(10deg,rgb(196, 19, 196),rgb(236, 26, 26));
    }
   
    100%{
        background: linear-gradient(180deg,rgb(196, 19, 196),rgb(236, 26, 26));
    }
    
}


.logo{
    width: 120px;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
   animation: logo-anim 15s linear infinite ;

}
@keyframes logo-anim {
    0%   {transform: scale(0.9,0.9);
    transform: rotate(10deg);}
    25%   {transform: scale(0.95,0.95);}
    50%   {transform: scale(1,1);
        
        transform: rotate(-10deg);
    }
    75%   {transform: scale(0.95,0.95);}
    100%   {transform: scale(0.9,0.9);
        transform: rotate(10deg);
    
    }
   
  }
  .nav-items{
    /* width: 200px; */
    display: flex;
justify-content: center;
align-items: center;
  }


ul{
    list-style-type: none;
    text-decoration: none;
}
.li-items{
    display: flex;
    justify-content:space-around;
    align-items: center; 
    padding: 20px;
}
.li-items>div{
    margin-left: 20px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: x-large;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:400;
}
a{
    
    color: rgb(150, 147, 147);
height: 200px;
width: 110px;
text-decoration: none;
border-radius: 5px;
}
.li-items>div:hover{
    transform: scale(1.1,1.1);
    transition: all 0.35s ;
}
/* a:visited{
    color: rgb(114, 110, 110);
} */

.res-container-parent{

    display: flex;
    justify-content: center;
}
.shimmer-container-parent{
margin-top: 60px;
    display: flex;
    justify-content: center;
}



.res-container{
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    justify-content: start;
    /* padding: 10px; */
    
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px; */
    width: 1140px;
    justify-content: start;

}
.res-container>a{
    border-radius:  10px 10px 10px 10px;
    /* border:1.5px solid WHITE; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin :5px;
    padding: 0px;
    font-style: normal;
    color: rgb(44, 40, 40);
    height: 280px;
    width: 210px;
    box-shadow: 1px 1px 10px 0px rgb(255, 255, 255);
    overflow:hidden;
    
}
.res-card:hover{
    transform: scale(0.97,0.97);
    transition: all 0.3s ;
    cursor: pointer;
    /* box-shadow: 1px 1px 10px 0px rgba(10, 84, 223, 0.548); */
}

.shimmer-card{
    border-radius: 10px 10px 10px 10px;
    margin :5px;
    /* padding: 1px;    */
    height: 300px;
    width: 210px;
    background: transparent;
}

.div1{
    border-radius: 10px 10px 10px 10px;
    margin-left: 0px;
    margin-top: 11px;
    height: 20px;
    width: 180px;
  background: gray;
    /* animation: shim 2s, infinite; */
}
.loader{
    position: relative;
    display: block;
    border-radius: 5px 5px 5px 5px;
    
    width: 100%;
    height: 100%;
  background: #dadada;
  margin-bottom: 2px;
  overflow: hidden;
    /* animation: shim 2s, infinite; */
}
.loader::after{
    content: "";
    position: absolute;
    width: 170%;
    height: 100%;
    background: linear-gradient(#dadada,#f2f2f2,#dadada);
    transform: rotate(120deg);
    animation: shim 1s infinite;
}

@keyframes shim {
  0%{
    left: -50%;
  }
  100%{
    left:50%;
  }


}        
           
           
    
.div2{
    background-color:rgb(206,203,203);
    border-radius: 5px 5px 5px 5px;
    margin-top: 11px;
    height: 17px;
    width: 60px;
}
.div3{
    background-color:rgb(206,203,203);
    border-radius: 5px 5px 5px 5px;
    margin-top: 11px;
    height: 17px;
    width: 110px;
}

.card-img{
    border-radius: 10px 10px 10px 10px;
    width:100%;
    height:150px;
    
}
.shimmer-img{
    
    border-radius: 10px 10px 10px 10px;
    width:100%;
    height:150px;
    background-color:rgba(194, 112, 112, 0.356) ; 


}
.card-text-1{
    
font-family: Arial, Helvetica, sans-serif;

height: 40px;
margin-bottom: 2px;
overflow:hidden;
color: rgb(85, 84, 84);
}
.card-text-2{
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
    
    
}
.style-rating-1{
    display: grid;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
   
}
.style-rating-1>img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
.style-rating-2{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(92, 92, 92);
    margin-left: 3px;
    margin-top: 2px;
}
.style-rating-3{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(92, 92, 92);
    margin-left:85px;
    margin-top: 2px;
}
.card-text-3{
    margin-top: 12px;
    font-size: small;
    word-wrap:normal;
}
.card-text-3>div{
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: gray;
}


.shimmer-text{
    margin:1px;

}


#fltr{
    outline: none;
     border-radius: 4px;
     border: none;
     width: 40%;
    height: 38px;
    background-color: rgb(226, 224, 222);    
    margin-left:112px ;
    border-radius: 10px 0px 0px 10px;

}
#fltr:focus{
    box-shadow: 10px 10px 20px 0px rgb(209, 208, 208);
    background: rgba(255, 255, 255, 0.89);
    border-radius: 0px;
    transition: all 0.1s ;

    
}
.shimmer-srch{
    width:120px;
    height: 25px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 17px;
    background-color: #f0f0f0;

}

.filter-btn{
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 76, 76);
    margin: 10px;
     border: 0px;
    /* margin-top: 1px; */
    width: 50px;
    height:40px;
    border-radius: 0px 10px 10px 0px;
    /* outline: none; */
    background-color: rgb(226, 224, 222);    
    margin-left: 0px;
}
.filter-btn:hover{
    
    background-color: rgb(204, 202, 200);    
cursor: pointer;
/* transform: scale(0.9,0.9); */
transition: all 0.2s;
    
}
.shimmer-btn{
    
    margin: 11px;
    margin-top: 13px;
    width:100px;
    height:32px;
    border: 0px;
    border-radius: 10px 10px 10px 10px;

}
.shimmer-filter{
    display: flex;
    flex-wrap: wrap;
}

.menu-1-card{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


.menu-1-1-card{
    border: 1px solid white;
    width: 900px;
    /* display: flex; */
    /* align-items: center; */
    box-shadow: 0px 1px 10px 0px rgb(196, 190, 190);
    color: #a09f9d;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    font-size: smaller;
}

.menu-1-1-card>div{
    margin-bottom: 5px;
}
.menu-list-div{
    display: flex;
    justify-content: center;

}
.menu-ul{
    padding: 0px;
    margin-top: 80px;
}

.menu-dish-parent{
    padding: 10px;
    border-radius:5px;
    background-color: #f7f6f6;
}
.menu-dish-parent:hover{
    background-color: #dad8d5;
    transform: scale(0.98,0.98);
    transition: all 0.27s ;


}
.menu-dish{
    width:900px;
    height:120px;
   
    /* border: 1px solid cyan; */
    /* background-color: rgb(207, 206, 206); */
    display: flex;
    align-items:flex-start;
    margin: 0px;
   justify-content:space-between;
    color: #6d6a6a;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    gap:10px;
    /* padding: 10px; */
}

hr.hrr{
    border: 1px solid gray;
    border-radius: 5px;
    margin:0px;
    width: 100%;
}
.menu-dish>img{
    width:120px;
    height:120px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 4px rgb(182, 178, 178);
}
.offers-con{
    width: 100%;
    height: 100px;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items:end;
    gap: 30px;
    margin-top: 80px;
}
.offers-con>div{
     width: 280px;
     height: 100px;
    border: 1.5px solid white;
    border-radius: 5px;
    box-shadow: 3px 1px 10px 0.05px rgb(180, 178, 178);

 }
 .offers-con>div:hover{
transform: translate(0px,-5px);
transition: all 0.2s;
 }
 .veg{
    /* border: 1px solid red; */
    width: 43px;
    height: 17px;
    margin-top: 50px;
    background-color: rgba(131, 238, 24, 0.795);
    border-radius: 10px;
    border: 1px solid grey;
    
}
.veg>div{
    border: 1px solid white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color:rgb(255, 244, 244);
    margin-left: 25px;
 }


